.card-largura{
    max-width: 18rem;
}

.imagem-carrossel{
    object-fit: cover;
    object-position: 0 20%;
    height: 500px;

}

.img-thumbnail:hover{
    background-color:grey;
}

.imagem-carrossel02{
    object-fit: cover;
    object-position: 0 30%;
    height: 500px;

}

.fonte-carrossel{
    font-family: 'Kalam', cursive;
    font-size: 40px;
    color: darkred;
}
    
.cor-especial{
    color: darkred;
}


.botao-cor-especial{
    background-color: darkred;
    color: white;
}

.botao-cor-especial:hover{
    color: darkorange;
}


.card-posicao-imagem{
    object-fit: cover;
    height: 200px;
}

.cor-menu{
    background:linear-gradient(  white 60%, black);
}

/*.cor-de-fundo01{
    background:black;
}
*/

/*.video{
    text-align: center;
    background: black;
    padding: 30px;

}
*/

.embed-responsive{
    height: 300px;

}

.embed-responsive-item{
    
    
}
.video-area{
    background: linear-gradient(black 5%,#343a40 95%);
    padding-top: 15px;
    padding-bottom: 15px;
}

.cor-de-fundo-rodape{
    background:linear-gradient(black 5%,#343a40);
    text-align: center;
}

.reservados{
    margin-top: 0;
    margin-bottom: 0;
    color:white;
    text-align: center;
}

.copyright{
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    text-align: center;
}

.imagem-rodape{
    width: 100px;
}

 /*@media (min-width: 1500px){
    .video, .video-area{
        width: auto;
    }
}