.navbar{
}

.imagem-carrossel{
    object-fit: cover;
    object-position: 0 20%;
    height: 500px;

}

.imagem-carrossel02{
    object-fit: cover;
    object-position: 0 30%;
    height: 500px;

}

.fonte-carrossel{
    font-family:'Permanent Marker',cursive;
    color: white;
    }